.headers {
  color: #1c6dbd;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  padding: 10px;
}

.icoi {
  font-weight: bold;
}
.pd {
  padding: 200px;
}
.headers {
  color: #1c6dbd;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  padding: 10px;
}
.foot {
  background-color: pink;
  color: aliceblue;
}
.line {
  text-decoration: steelblue;
}
.io {
  color: black;
}
.line {
  line-height: 1.9;
  font-weight: 600;
}
